html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    color: #666666;
    line-height: 1.8rem;
    height: 100%;  /*parallax effect için gerekli. genelde bunu html,body{} içerisine yazıyoruz.*/
}

.background--image1{
    background-image: url("./img/bg.jpg");
    min-height: 100%;
}

.background--image2{
    background-image: url("./img/bg1.jpg");
    min-height: 80%;
}

.background--image3{
    background-image: url("./img/bg2.jpg");
    min-height: 80%;
}

.background--image4{
    background-image: url("./img/bg3.jpg");
    min-height: 80%;
}








/* .heading-container{
    position: absolute;
    top: 50%;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
} */

/* .heading-container__heading{
    background-color: black;
    color: white;
    padding: 2rem;
    border-radius: 2rem 0 2rem 0; 
    outline: 0.5rem inset purple;
    outline-offset: 1rem;
} */













/* 
.heading-container__logo{
    width: 150px;
    height: 75px;
    margin: auto;
} */